<div>
  <br /><br /><br /><br />
  <hr />
  <div class="bottomnav">
    <a href="{{ '/' | relative_url }}" style="justify-self: start">⌂ Home</a>

    <div
      style="
        display: flex;
        gap: 40px;
        justify-content: center;
        width: max-content;
      "
    >
      <a
        href="{{ page.before.url | relative_url }}"
        class="{% unless page.before.url %}disabled{% endunless %}"
      >
        ◀ Previous {% if page.before.title %} ({{ page.before.title }}) {% endif
        %}
      </a>

      <a
        href="{{ page.after.url | relative_url }}"
        class="{% unless page.after.url %}disabled{% endunless %}"
      >
        Next ▶ {% if page.after.title %} ({{ page.after.title }}) {% endif %}
      </a>
    </div>
  </div>
</div>
